<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Listas </h1>
  </div>


  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Total</th>
        <th>Comprado</th>
        <th colspan="2">
          Ações

        </th>
      </tr>
      </thead>
      <tbody>
      <% if @lists.empty? %>
        <tr>
          <td colspan="4" class="text-center">
            <h3>Sem listas cadastrados.</h3>
            <%= link_to 'Criar nova lista', new_list_path %>
          </td>
        </tr>
      <% end %>
      <% @lists.each do |c| %>
        <tr>
          <td>
            <%= c.total %>
          </td>
          <td>
            <%= c.is_bought %>
          </td>
          <td>
            <%#= link_to 'Editar', edit_list( c), class: 'btn btn-warning' %>
          </td>
          <td>
            <%#= link_to 'Excluir', user_contact_path(current_user, c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>


</div>


<%= link_to 'Criar nova lista', new_list_path %>
