<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Listas </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Total</th>
          <th>Comprado</th>
        </tr>
      </thead>
      <tbody>
        <% if @lists.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Sem listas cadastrados.</h3>
              <%= link_to 'Criar nova lista', new_list_path %>
            </td>
          </tr>
        <% end %>
        <% @lists.each do |c| %>
          <tr>
            <td>
              R$ <%= c.total %>
            </td>
            <td>
              <%= c.is_bought ? 'Sim' : 'Não' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Criar nova lista', new_list_path, class: 'btn btn-success' %>
  </div>
</div>
