<footer>
  <small>
    <%= link_to 'Projeto pos.', lists_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', ''  %>
      </li>
      <li>
        <%= link_to 'Contato', '' %>
      </li>
    </ul>
  </nav>
</footer>