<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to(root_path, class: 'nav-link') do %>
          Home <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'Produtos', products_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Lista', lists_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
